# usage.
# ./vendor/bin/phpstan analyse -c ./example/phpstan.neon --level 5 example/

parameters:
    level: 5
    bootstrapFiles:
        - vendor/autoload.php
    paths:
        - src

includes:
	- ../extension.neon
	- ../rules.neon