# usage.
# ./vendor/bin/phpstan analyse -c ./example/phpstan.neon
#
# docker run -v $(realpath .):/github/workspace -w=/github/workspace ghcr.io/laminas/laminas-continuous-integration:1 \
#  '{"php":"8.2","dependencies":"latest","extensions":[],"ini":["memory_limit=-1"],"command":"./vendor/bin/phpstan analyse -c ./example/phpstan.neon --no-progress --error-format=junit | xmllint --format -"}'

parameters:
    level: 5
    bootstrapFiles:
        - %currentWorkingDirectory%/vendor/autoload.php
    paths:
        - %currentWorkingDirectory%/example/src
    sfpPsrLog:
        reportContextExceptionLogLevel: 'notice'
        contextKeyOriginalPattern: '#\A[A-Za-z0-9-]+\z#'
    stubFiles:
        - ../vendor/struggle-for-php/sfp-stubs-psr-log/stubs-for-throwable/LoggerInterface.phpstub

includes:
# relative path can not work
#	- %currentWorkingDirectory%/extension.neon
	- %currentWorkingDirectory%/rules.neon