parameters:
    sfpPsrLog:
        reportContextExceptionLogLevel: 'debug'

parametersSchema:
	sfpPsrLog: structure([
		reportContextExceptionLogLevel: schema(string(), nullable())
	])

rules:
    - Sfp\PHPStan\Psr\Log\Rules\NonEmptyStringKeyRule

services:
	-
		class: Sfp\PHPStan\Psr\Log\Rules\ContextRequireExceptionKeyRule
		arguments:
			reportContextExceptionLogLevel: %sfpPsrLog.reportContextExceptionLogLevel%
		tags:
			- phpstan.rules.rule
